@model List<WebApp.Models.Tenant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var tenant in @Model)
            {
                <li>@tenant.Name</li>
                <li>...@tenant.DomainName</li>
            }


        </ul>
    </div>
</body>
</html>
